<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url "movie-theater.png" %>);">
    <div class="container">
      <h1>My Movie list!</h1>
    </div>
  </div>
  <div class="container mt-5">
    <div class="cards">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.present? ? url_for(list.photo) : asset_path("movie-theater.jpg")  %>');">
            <%= list.name %>
          </div>
        <% end %>
      <% end %>
      <p class="text-center">
        <%= link_to new_list_path(@list) do %><i class="fa-solid fa-circle-plus mt-4 p-5"></i><% end %>
      </p>
    </div>
  </div>
</div>
